a{ 
	color:#c1110b;
	text-decoration: none;
	
 }

 h1 { 
font-family: 'Averia Serif Libre', cursive;
text-align: center;
margin-left: 40px;
margin-right:40px; 
margin-bottom: 30px;
margin-top: 20px;
font-size: 40px;
padding: 30px, 40px, 40px, 40px;
 }

 h3 { 
font-family: 'EB Garamond', serif;
font-style: italic;
font-size: 15px;
  }

 p {
font-family: 'EB Garamond', serif;
text-align: justify;
line-height: 1.6;
padding-right: 100px; 
padding-left:100px;
 }


.image-wrapper {
       	float: left;
        padding-left: 100px;
        padding-right: 20px;
        padding-bottom: 10px;
        margin-left: 0px;
margin-right: auto;
margin-bottom: 30px;
    }


.figure img {

	 align-content: center;
}

