header { 
text-align: center;
color: white;
font-family: 'Averia Serif Libre', cursive;
font-size: 100px;
background-color: black;
letter-spacing: 8px;

 }

.navbar li {

  display: inline;
  margin: 40px;

}

.navbar ul{
font-family: 'Averia Serif Libre', cursive;
	text-align: center;
	background color: black;
	border-bottom: 2px solid #c1110b;
	margin-right: 100px;
	margin-left:100px; 
	padding-top: 20px;
	font-size: 16px;
	margin-bottom: 40px;
}

body {
	background: white;
	color: black;
	text-align: center;
	font-family: 'EB Garamond', serif;
}

a{ 
	color:#c1110b;
	
 }

 h1 { 
font-family: 'Averia Serif Libre', cursive;
text-align: center;
margin-left: 40px;
margin-right:40px; 
margin-bottom: 20px;
margin-top: 20px;
font-size: 40px;
padding: 30px, 40px, 40px, 40px;
 }

 h3 { 
font-family: 'EB Garamond', serif;
font-style: italic;
font-size: 15px;
  }

 p {
font-family: 'EB Garamond', serif;
text-align: justify;
line-height: 1.6;
padding-right: 100px; 
padding-left:100px;
 }

img { 
float: left;
padding-left: 100px;
padding-right: 20px;
margin-left: 40px;
margin-right: auto;
 }

.image-wrapper {
       	float: left;
        padding-left: 100px;
        padding-right: 20px;
        padding-bottom: 10px;
        
    }

